@model Arke.ARS.TechnicianPortal.Models.WorkOrderModel

@using (Html.BeginForm("SubmitPurchaseOrderRequest", "WorkOrder", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "submit-purchase-order-request-form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="modal fade" id="modal-po-request">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Purchase order request <small>@Model.TicketNumber</small></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="store">Store Name</label>
                                <input type="text" class="form-control" rows="" id="store" name="store" required="required" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="taxAmount">Tax Amount</label>
                                <input type="text" class="form-control" rows="" id="taxAmount" name="taxAmount" required="required" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="subtotal">Subtotal</label>
                                <input type="text" class="form-control" rows="" id="subtotal" name="subtotal" required="required" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p><strong>Purchase Order Items</strong></p>
                        <div class="form-group col-sm-2">
                            <label for="purchase-order-quantity" class="sr-only">Quantity</label>
                            <input type="number" class="form-control input-sm" id="purchase-order-quantity" placeholder="QTY" min="0">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="purchase-order-name" class="sr-only">Item</label>
                            <input class="form-control input-sm" id="purchase-order-name" placeholder="Item">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="purchase-order-price" class="sr-only">Price each</label>
                            <input class="form-control input-sm" id="purchase-order-price" placeholder="Price each" type="number" min="0">
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="purchase-order-total" class="sr-only">Total</label>
                            <input class="form-control input-sm" id="purchase-order-total" readonly placeholder="Total">
                        </div>
                        <div class="form-group col-sm-1">
                            <button type="button" class="btn btn-primary" id="purchase-order-add-to-list">Add to list</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped" onclick="" id="purchase-orders-grid">
                                <thead>
                                    <tr>
                                        <th data-column-id=quantity data-header-css-class="col-md-3">Quantity</th>
                                        <th data-column-id=item data-header-css-class="col-md-6">Item</th>
                                        <th data-column-id=price data-header-css-class="col-md-3" data-formatter="currency">Price</th>
                                        <th data-column-id=total data-header-css-class="col-md-3" data-formatter="total">Total</th>
                                        <th data-column-id="id" data-header-css-class="col-md-1" data-identifier="true" data-formatter="commands" data-sortable="false">&nbsp;</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            Grand Total <strong>$<span id="purchase-orders-grid-total">0</span></strong>
                            <div style="text-align:center;">**Please check that total does not exceed the NTE amount**</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            NTE <strong>$@Model.RemainingMoney.ToString("F2")</strong>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="file">
                                <label for="attach-receipt">Attach Receipt</label>
                                <input required type="file" id="attach-receipt" name="purchaseOrderReceipt">
                                <label for="attach-receipt2">Attach Receipt #2</label>
                                <input type="file" id="attach-receipt2" name="purchaseOrderReceipt2">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="vendorlist">Select Vendor</label>
                            <div class="form-group" id="vendorlist">
                                <select name="vendor" id="vendor" required>
                                    <option value="Visa">Visa</option>
                                    <option value="Vendor 2">Vendor 2</option>
                                    <option value="Vendor 3">Vendor 3</option>
                                    <option value="Vendor 4">Vendor 4</option>
                                    <option value="Vendor 5">Vendor 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="submit-purchase-order-request">Submit purchase order request</button>
                </div>
            </div>
        </div>
    </div>
}