<style>
    html, body, section, #test {
        height: 97%;
    }

    #test {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 68%;
        padding: 1rem;
    }

    .login-page {
        width: 360px;
        padding: 6% 0 0;
        margin: auto;
    }

    .form {
        position: relative;
        z-index: 0;
        background: #FFFFFF;
        max-width: 345px;
        margin: 0 auto 100px;
        padding: 40px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #ffe37c;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #8a8a8a;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

            .form button:hover, .form button:active, .form button:focus {
                background: #ead175;
            }

        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }

            .form .message a {
                color: rgb(255, 186, 124);
                text-decoration: none;
            }

        .form .register-form {
            display: none;
        }

    .container1 {
        margin-right: auto;
        margin-left: auto;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }

    .container {
        position: relative;
        z-index: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: table;
        padding-left: 0;
        padding-right: 0;
    }

        .container:before, .container:after {
            content: "";
            display: block;
            clear: both;
        }

        .container .info {
            margin: 50px auto;
            text-align: center;
        }

            .container .info h1 {
                margin: 0 0 15px;
                padding: 0;
                font-size: 36px;
                font-weight: 300;
                color: #1a1a1a;
            }

            .container .info span {
                color: #4d4d4d;
                font-size: 12px;
            }

                .container .info span a {
                    color: #000000;
                    text-decoration: none;
                }

                .container .info span .fa {
                    color: #EF3B3A;
                }

    .left-half {
        background-image: url(https://preview.ibb.co/iC2tbF/Website_Final_Wood_background_2045379.jpg);
        background-size: 96% 100%;
    }

    .right-half {
        background: #272727;
    }

    body {
        background: #FFFFFF;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        background-image: url("https://ibb.co/kOCFqa");
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>

@*<form id="signInForm">
    <div class=form-group>
        <label for=email>Email address</label>
        <input type=email class=form-control id=email placeholder="Enter email" required aria-required="true">
    </div>
    <div class=form-group>
        <label for=password>Password</label>
        <input type=password class=form-control id=password placeholder=Password required aria-required="true">
    </div>
    <div class=checkbox>
        <label>
            <input type=checkbox id=remember> Remember me
        </label>
    </div>
    <button type=submit class="btn btn-default">Submit</button>
</form>*@

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="container">
    <div class="left-half" id="test">
        <span class="brand no-print">
            <a href="~/">
                <img src="@Url.Content("~/Content/images/White Logo for Website.png")" alt="Craftsmen Alliance FM" style="display: block; margin:auto; max-width:85%;">
            </a>
        </span>
    </div>
    <div class="right-half" id="test">
        <span class="sitetype" style="color:#FFFFFF; font-size:1.5em;"><strong>CONTRACTOR PORTAL</strong></span>
        <div class="login-page">
            <div class="form">
                <form class="login-form" id="signInForm">
                    <div class="form-group">
                        <label for="email" class="sr-only">Username</label>
                        <input type="email" id="email" placeholder="Username" required="" autofocus="">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password" placeholder="Password" required="">
                    </div>
                    <button type="submit">LOGIN</button>
                    <p class="message">Not registered? <a href="#">Create an account</a></p>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        $(function () {
            var animationService = new ARS.AnimationService();
            var notificationService = new ARS.NotificationService();

            $('#signInForm').submit(function(e) {
                e.preventDefault();

                animationService.showBusyAnimation();
                $.post("@Url.Content("~/")Token", {
                        grant_type: 'password',
                        username: $("#email").val(),
                        password: $("#password").val(),
                        remember: $("#remember").is(':checked')
                    })
                    .done(function() {
                        window.location.href = "@Url.Action("Home", "Home")";
                    })
                    .error(function () {
                        notificationService.showError("The username/password you entered is not valid.");
                    })
                    .always(function() {
                        animationService.hideBusyAnimation();
                    });
            });
        });
    </script>
}
